:root{
    --size-cube: 5rem;
}
@media screen and (min-width: 65rem){
    :root{
        --size-cube: 6rem;
    }
}
@media screen and (min-width: 80rem){
    :root{
        --size-cube: 7rem;
    }
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100vh;
    perspective: 100rem;
    overflow: hidden;
    background: rgb(177, 177, 254);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #001f4e;
}
main{
    position: absolute;
    transform-style: preserve-3d;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotateX(40deg) rotateZ(10deg) rotateY(-10deg);
}
.row{
    transform-style: preserve-3d;
}
.wave-rowX{
    animation: waveX 5s ease-in-out infinite;
}
@keyframes waveX {
    0%, 100% {
        transform: translateZ(0);
    }
    50%{
        transform: translateZ(6rem);
    }
}
.wave-cubeY{
    animation: waveY 5s ease-in-out infinite;
}
@keyframes waveY {
    0%, 100% {
        transform: translateZ(0);
    }
    50%{
        transform: translateZ(6rem);
    }
}
.cube{
    margin: auto;
    position: relative;
    transform-style: preserve-3d;
    width: var(--size-cube);
    height: var(--size-cube);
    margin: 0.2rem 0rem;
}
.face{
    position: absolute;
    width: var(--size-cube);
    height: var(--size-cube);
    background-color: #81B4FF;
    border: 1px solid #000000;
    box-shadow: inset 0px 0px 60px -2px #000;
}
.face__top{
    transform: translateZ(calc(var(--size-cube) / 2));
}
.face__bottom{
    transform: rotateX(180deg) translateZ(calc(var(--size-cube) / 2));
}
.face__front{
    transform: translateY(calc(var(--size-cube) / 2)) rotateX(-90deg);
    background: linear-gradient(0deg, rgba(15,5,180,1) 67%, rgba(83,108,224,0.9234287464985994) 87%, rgba(129,180,255,0.9962578781512605) 100%);
}
.face__back{
    transform: rotateX(90deg) translateZ(calc(var(--size-cube) / 2)) ;
}
.face__left{
    transform: rotateY(-90deg) translateZ(calc(var(--size-cube) / 2)) rotateZ(90deg);
    background: linear-gradient(0deg, rgba(15,5,180,1) 67%, rgba(83,108,224,0.9234287464985994) 87%, rgba(129,180,255,0.9962578781512605) 100%);
}
.face__right{
    transform: translateX(calc(var(--size-cube) / 2)) rotateY(90deg) rotateZ(-90deg);
    background: linear-gradient(0deg, rgba(15,5,180,1) 67%, rgba(83,108,224,0.9234287464985994) 87%, rgba(129,180,255,0.9962578781512605) 100%);
}